#newLoadBalance .el-form-item__content{
	width: 70%
}

#newLoadBalance .el-input.is-disabled .el-input__inner{
	background-color: #F5F7FA;
    border-color: #E4E7ED;
    color: #555555;
    cursor: not-allowed;
}

#newLoadBalance .el-textarea.is-disabled .el-textarea__inner{
	background-color: #F5F7FA;
    border-color: #E4E7ED;
    color: #555555;
    cursor: not-allowed;
}